################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ServiceRequestWebApi
/ServiceRequest.Application/bin/Debug/net5.0
/ServiceRequest.Application/obj
/ServiceRequest.Repository/obj
/ServiceRequestWebApi/bin/Debug/net5.0
/ServiceRequestWebApi/obj
/ServiceRequestManager.API.Test/bin/Debug/net5.0
/ServiceRequestManager.API.Test/obj
/ServiceRequestManager.Application.Test/bin/Debug/net5.0
/ServiceRequestManager.Application.Test/obj
